/* Select Option Styling */
select {
  max-height: 200px;
}

select option {
  padding: 2px 4px;
  line-height: 1.1;
}

@media (max-width: 768px) {
  select option {
    padding: 1px 2px;
    line-height: 0.8;
    font-size: 10px;
    height: 16px;
  }
}
